*{
    margin: 0;
}
.profile-container{
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 30%;
    background-color: gainsboro;

    text-align: center;
}


.information-container{
    border: 0.5rem solid;
    max-width: 70%;
    width: 100%;

    margin: 0 auto;
}

.information-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom:  0.5rem solid;
}
.information-section:last-child{
    border: none;
}
.information-section h3{
    border-right: 0.5rem solid;
    padding: 1rem;
}
.information-section p{
    padding: 1rem;
    text-align: center;
}
button{
    text-align: center;
    padding: 1rem 2rem;
}

/* People / Friends CSS */
.people-container{
    max-width: 100%;
    width: 100%;
}
.people-container p{
    width: 50%;
}
.person-button-container button{
    width: 100%;
}

.remove-friend-button{
    background-color: red;
}
.add-friend-button{
    background-color: green;
}
#delete-account-button{
    background-color: red;
}